
.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
.myclass{
  color:lawngreen;
  padding: 10px;
  margin: 10px;
  background-color: hotpink;
}
.div1{
  color: aquamarine;
  padding: 10px;
  margin:10px;
  background-color:darkorange;
}
